/* Esto es un comentario en CSS */

/* Selector para el cuerpo de la página */
body {
    background-color: #51a348; /* Color de fondo azul claro */
    font-family: Arial, sans-serif; /* Tipo de letra */
    text-align: center; /* Todo el texto centrado */
}

/* Selector para los encabezados H1 */
h1 {
    color: black; /* Color del texto azul oscuro */
    border-bottom: 2px solid navy; /* Una línea azul debajo */
    padding-bottom: 10px;
}
figure {
    text-align: center; 
    margin: 30px auto; 
    max-width: 600px; 
}
.destacado{
    font-family: Arial, sans-serif; /* Cambiamos la tipografía */
    font-size: 1.1em;             /* Lo hacemos un poco más grande */
    color: #FFD700;               /* Color Dorado, para que resalte */
    font-weight: bold;            /* Texto en negrita */
    margin: 15px 0;               /* Le damos un poco de margen vertical */
}
